*{
  font-family: ChampionLight;
}
h1{
  font-family: HighVoltageRough;
  text-transform: uppercase;
  color: #152D4E;
}
.stock-food{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 320px;
}
.brand-logo{
  width: 100%;
  text-align: center;
}
.brand-logo .logo{
  position: fixed;
  width: 80px;
  height: 80px;
  padding: 10px;
  top: 0;
  right: 50%;
  margin-right: -40px;
  z-index: 1;
}
.socials {
  position: fixed;
  right: 0;
  z-index: 2;
  padding: 10px;
}
.socials svg{
  padding: 4px;
  fill: #ffffff;
}
