*{
  font-family: ChampionLight;
}
h1{
  font-family: HighVoltageRough;
  text-transform: uppercase;
  color: #152D4E;
}

h3{
  font-family: HighVoltageRough;
  text-transform: uppercase;
  color: #152D4E;
  margin: 20px 0;
}
body {
  overflow-x: hidden;
}
main{
    background: #EDEDED;
}
.header-light{
  color: #ffffff;
}
.stock-food{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 320px;
}
.brand-logo{
  width: 100%;
  text-align: center;
}
.brand-logo .logo{
  position: fixed;
  width: 80px;
  height: 80px;
  padding: 10px;
  top: 0;
  right: 50%;
  margin-right: -40px;
  z-index: 1;
}

.socials{
  height: 66px;
  padding-top: 15px;
  text-align: right;
}
.socials svg{
 fill: #152D4E;
 padding: 4px;
}
.socials-header {
  position: fixed;
  right: 0;
  z-index: 2;
  padding: 10px;
}
.socials-header svg{
  padding: 4px;
  fill: #ffffff;
}
.bottom-mountains{
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  height: 160px;
}
