.break{
  background: #152D4E;
  display: block;
}
.break-12{
  height: 12px;
}
.break-6{
  height: 6px;
  margin-bottom: 28px;
}
#ethos{
  text-align: right;
  padding: 120px 0;
  background: #EDEDED;
}
#ethos p{
  padding: 24px 0;
}
#ethos h1{
  margin: 0;
  padding: 24px 0;
}
#ethos .buttons .btn{
  font-family: HighVoltage;
  font-size: 18px;
  letter-spacing: 2px;
  width: 120px;
  background: #152D4E;
  color: #ffffff;
  border-radius: 8px;
  text-transform: uppercase;
}
