.site-footer{
  background: #ffffff;
  padding: 0 ;
  position: relative;
  font-family: ChampionMedium;
}
.site-footer .socials-blue svg{
  width: 32px;
  height: 32px;
  fill: #152D4E;
  margin: 4px;
}
.site-footer #footer-menu{
  padding: 64px 0;
}
.site-footer #map-wrapper{
  position: relative;
}
.site-footer .btm-mtn{
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  height: 160px;
}
.site-footer .top-mtn{
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  transform: rotateZ(180deg);
  height: 128px;
  z-index: 5;
}
.site-footer .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
}
.site-footer .location-form{
  position: absolute;
  width: 100%;
  z-index: 10;
  text-align: center;
  padding: 250px 0;
}
.text-input{
  border: solid 3px #FFFFFF;
  border-radius: 0;
  background: transparent;
  color: #ffffff;
  max-width: 360px;
  display: inline-block;
  margin: auto;
  height: 48px;
}
.location-form .submit-input{
  border: solid 3px #FFFFFF;
  border-radius: 0;
  background: transparent;
  position: relative;
  display: inline;
  height: 48px;
  width: 48px;
  margin: -2px 0 0 -6px;
}
.location-form .submit-input .arrow {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
}
.location-form .submit-input .arrow-1 {
  -webkit-transform: rotate(45deg) translate3d(0, -8px, 0);
          transform: rotate(45deg) translate3d(0, -8px, 0);
          transition: -webkit-transform 100ms;
          transition: transform 100ms;
          transition: transform 100ms, -webkit-transform 100ms;
          width: 18px;
}
.location-form .submit-input .arrow-2 {
  -webkit-transform: rotate(-45deg) translate3d(0, 8px, 0);
          transform: rotate(-45deg) translate3d(0, 8px, 0);
          transition: -webkit-transform 100ms;
          transition: transform 100ms;
          transition: transform 100ms, -webkit-transform 100ms;
          width: 18px;
}
.blue-side{
  border-left: 4px solid #152D4E;
}
